* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #bfbfbf;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
  font-family: 'Oswald', sans-serif;
}

.main-container {
  width: 73%;
  margin: 0 auto;
  height: 500px;
}



nav {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}


nav h3 {
  float: left;
  font-size: 30px;
}

nav ul {
  display: flex;
  width: 450px;
  justify-content: space-between;
  transition: 3s;
}

nav li {
  list-style: none;
  font-weight: bolder;
  font-size: 15px;
}

nav a {
  text-decoration: none;
  color: black;

}



@media (max-width: 750px) {
  nav ul {
    width: 300px;
  }

  .picInfo {
    margin: 0 auto;
  }
}


.megamenu {
  width: 100%;
  height: 400px;
  box-shadow: 2px 2px 5px black;
  display: flex;
  background-size: 100% 100%;
  background-image: url("../images/background.jpeg");
  align-items: center;
  transition: 15s;
}

.megamenu img {
  width: 100%;
  height: 100%;
}

.active {
  color: white;
  background: black;
}


.picInfo {
  height: 300px;
  width: 400px;
  box-shadow: 2px 2px 5px black;
  background: rgb(0, 0, 0);
  color: #E3F8FF;
  opacity: 0.70;
  padding: 10px 25px 5px 15px;
  line-height: 50px;
}

.medium {
  font-size: 30px;
  padding-top: 10px;
  opacity: 1;
}

.large {
  font-size: 50px;
  opacity: 1;
  padding-top: 10px;
  color: #338EE2;
}



footer {
  background: #000033;
  width: 100%;
  height: 100px;
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-around;
  border-top: 5px groove #338EE2;
}

footer div {
  width: 200px;
  text-align: center;
}

footer .icons {
  padding-top: 10px;

  display: flex;
  width: 100%;
  justify-content: space-between;
}


footer h3 {
  color: #3366FF;
  text-decoration: underline;
}

footer p {
  color: #E3F8FF;
}

footer i {
  color: #338EE2;
}

footer i:hover {
  cursor: point;
}
