* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: url("../images/light.png");
  font-family: 'Oswald', sans-serif;
}

.main-container {
  width: 73%;
  margin: 0 auto;
  height: 500px;
}



nav {
  text-transform: uppercase;
  border: 1px solid green;
  padding: 15px 0;
  position: relative;
}

nav::after {
  content: "";
  display: table;
  clear: both;

}

nav h3 {
  float: left;
  font-size: 30px;
  background: yellow;
  line-height: 30px;
  position: absolute;
  bottom: 0;
}

nav li {
  display: inline-block;
  padding: 0px 20px;
  font-weight: bolder;
  font-size: 12px;
}

nav a {
  text-decoration: none;
  color: green;

}

nav span {
  float: right;
}
